
*,
*:before,
*:after, {
    box-sizing: inherit;
}

body {
    display: flexbox;
}

/* header section start */
.header {
    padding: 20px 35px;
    margin: 7px 0;
    background-image: url('../images/DSC02377.JPG');
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px rgba(18, 117, 230, 0.788);
}

.header nav {
    justify-content: flex-end;
}
/* header section end */

/* nav section start */
.nav ul li {
    display: block; 
    padding: 10px;
    float: right;
}

li a:hover {
    background-color: #c0b0b0ab
}
/* nav section ends */

/* about me section begins */
.about-section {
    text-align: left;
}

.About-Me {
    display: flex;
    margin: 0px auto 0px auto;
    overflow: auto;
}

.about-section img {
    width: 15%;
    float: right;
}

.about-section p {
    display: flex;
}

.about-me-title {
    float:left
}

.contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-grid {
    display: inline;
    align-self: center;
    text-decoration: none;
}
/* end about me section */

.text-left {
    text-align: left;
}

h2 {
    border-right: 3px solid;
    margin: 5px 0px 10px 10px;
    padding: 5px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: thistle;
    color: ivory;
}

.hero-title {
    text-align: right;
    background-color: lavenderblush;
}

/* grid section begin */
.work-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
    grid-auto-flow: dense;
    position: relative;
    overflow: hidden;
}

#main-grid {
    background-color: lightblue;
}

.item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    background-color: rgba(160, 248, 219, 0.603);
}

.item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    background-color: rgba(33, 143, 106, 0.486);
}

.item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    background-image: url("..//images/digital-marketing-meeting.jpg");
}

.item-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    background-color: rgba(147, 197, 180, 0.719);
}

.item-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    background-color: rgba(2, 90, 61, 0.555);
}

.item-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    background-image: url("../images/hero-bg.jpg")
}

.work:nth-child(3n) {
    grid-column: span 3;
    grid-row: span 2;
  }
/* grid section end */

.work {
    display: flex;
}

.contact {
    display: flex; 
    justify-content: flex-start;
}

.contact-grid a {
    color:rgb(45, 49, 40);
    display: flex;
    justify-content: center;
    text-decoration: none;
}
